@model EmployeeMVC1._0.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeDOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeDOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeSalary)
        </dd>
    </dl>
</div>
<div>
    <!--                                            Edit Only this          -->
    @Html.ActionLink("Edit", "Edit", new { id=Model.EmployeeId /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
