@model IEnumerable<EmployeeMVC1._0.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeSalary)
            </td>
            <td>
                <!--                                     Edit this, Everything else same                     -->                                     
                @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new {  id=item.EmployeeId /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.EmployeeId /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
